body {
  background: #c879b2;
  font-family: arial;
}

.intro h1 {
    position: absolute;
    color: #ffffff;
    font-size: 100%;
    line-height: 2em;
    top: 4.2em;
    left: -3em;
    width: auto;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
}

img {
  max-width: 80%;
  margin: 20px 10%;
}

h1, h2, h3, p {
  color:white;
  margin: 0;
  padding:5px 0;
}

div.col {
  background: #31c5da;
  margin: 10px 20%;
  padding: 20px;
  border-radius: 5px;
}

div.col p {
  color: #0d2c40;
}

header.col {
  background: #0d2c40;
  margin: 10px 20%;
  padding: 20px;
  border-radius: 5px;
}

.copy {
  background: #f15a30;
  margin: 10px 20%;
  padding: 20px;
  border-radius: 5px;
}

a {
  color:#999;
}

nav ul {
/*   background: yellow;
 */  
  margin: 0;
  padding: 0;
}

nav li {
/*   background: red;  
 */ 
  display:inline-block;
  list-style-type: none;
  margin: 0 2px 0 0;
  padding: 5px 0 0 0;
}

footer {
  margin: 0;
  font-size: 12px;
}

