* {
  border: 1px solid red;
  transition-property: all;
  transition-duration: 300ms;
}

@media (min-width: 750px) {

  #rotate {
    position: fixed;
    left: -.5em;
    top: 0;
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%);
  }

  #rotate h1, h6 {
    margin: 0;
  }

  #rotate h6 {
    margin-bottom: 0;
  }

}